.hero {
  padding: 5rem 0 4rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero p {
  margin-top: 1rem;
  color: #64748B;
  font-size: 1.1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero button {
  margin-top: 2rem;
}
