header {
  position: sticky;
  top: 0;
  
  /* border-radius: 25px solid black; */
  /* border-bottom: 1px solid #E5E7EB; */
  z-index: 100;
  box-shadow: 0 4px 12px rgba(85, 168, 236, 0.349);
  background-color: rgba(131, 131, 231, 0.568);
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(69, 69, 134, 0.349); */
}
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #0F172A;
  font-weight: 500;
}

.nav-links a:hover {
  color: #2563EB;
}