header {
  position: sticky;
  top: 0;
  background: white;
  /* border-radius: 25px solid black; */
  /* border-bottom: 1px solid #E5E7EB; */
  z-index: 100;
  box-shadow: 0 4px 12px rgba(10, 10, 10, 0.548);;
  background-color: rgba(128, 236, 85, 0.349);
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #0F172A;
  font-weight: 500;
}

.nav-links a:hover {
  color: #2563EB;
}