.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.skill-box {
  background: #b0cbdd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.788);
  padding: 1.2rem;
  border-radius: 8px;
}
